<div class="container mt-4">
  <div class="header">
    <h4 class="text-center">UPLOAD BANNERS</h4>
  </div>

  <!-- requried Information -->
  <div class="row">
    <!-- banner row -->
    <div class="col-6">
      <div class="mb-2">
        <label for="rowNumber">banner row number</label>
        <select name="rowNumber" id="rowNumber" class="form-select" (change)="selectRow($event)">
          <option value="">not selected</option>
          <option *ngFor="let item of [].constructor(5);let i=index" [value]="i+1">{{i+1}}</option>
        </select>
      </div>
    </div>

    <!-- page -->
    <div class="col-6">
      <div class="mb-2">
        <label for="page">banner row number</label>
        <select name="page" id="page" class="form-select" [value]="banner(bannerRow)?.page"
          (change)="updatePage($event)">
          <option value="">not selected</option>
          <option *ngFor="let item of ['allProducts','offers']" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>

    <!-- params -->
    <div class="col-12">
      <p for="page">linkable options</p>
      <div class="d-flex flex-wrap gap-2">
        <div *ngFor="let link of linkable">
          <p class="form-label">{{link.key}}</p>
          <div linkable-field class="mb-2">
            <input [value]="hasValue(link) ? getValue(link).value:''" id="{{link.key}}" type="text" class="form-control"
              placeholder="{{link.key}}" (blur)="checkActivation($event)" (change)="updateLink(link.key,$event)">
            <label for="{{link.key}}" fload-label (click)="activeLabel($event)" [class.active]="hasValue(link)">
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- image fields  -->
  <div class="row">

    <div class="col-6" *ngFor="let key of coverKeys">
      <div class="drop-container mb-2">
        <input (click)="checkIfRowSelected()" (change)="onFileSelected($event)" id="{{key}}" name="{{key}}"
          [type]="bannerRow?'file':'text'" accept="image/*">
        <label for="{{key}}">{{key}}</label>
        <div image-cover><img></div>
        <span delete (click)="clear($event)"><mat-icon>delete_outline</mat-icon></span>
      </div>
    </div>

    <div class="col-12">
      <div class="form-control">
        <button class="w-100 btn btn-warning" (click)="save()">save</button>
      </div>
    </div>
  </div>

</div>
